body {
  margin: 0;
  background-color: #f8f8f7; /* Change background color to white */
  background-position: center center;
  background-attachment: fixed; /* Keep the background fixed */
  padding: 1px; /* Add some padding to the body if needed */
}

.navbar {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  background-color: #0ca3a8; 
  padding: 10px;
  color: rgb(0, 0, 0);
  align-items: center;
}
.postForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* Center the postForm horizontally */
  margin-bottom: 15px;
  text-align: center; /* Center the text */
}

.postForm textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  resize: none;
}

.postForm button {
  background-color: #4caf50;
  color: rgb(252, 251, 251);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.postForm button:hover {
  background-color: #45a049;
}





.navLink {
  text-decoration: none;
  color: rgb(0, 0, 0); /* Set the text color to white */
}

.logoutButton {
  background-color: #a52c23; /* Change the background color to red */
}

/* ... other styles ... */

.pen-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background-image: url('path/to/pen-image.png'); /* Replace with the actual path */
  background-size: contain; /* Ensure the image is contained within the element */
  background-repeat: no-repeat;
  background-position: top right;
}

/* This is the user css */
body {
  background-image: url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

  
/* ... other styles ... */

/* This is the user css */
body {
  background-image: url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

